#body1 {
	font-family:Verdana, sans-serif;	
	background-image: url(./bg.jpg);
	background-repeat: no-repeat;
	overflow:hidden;
	align-self: center;
	background-size:cover;
}
.container {
	width: 380px;
	margin:0.5% auto;
	border-radius: 10%;
	justify-self: center;
	-ms-flex-align: center;
	align-self: center;
	background-color: rgba(0, 0, 0, 0.6)
}

.header {
	text-align: center;
	padding-top: 75px;
}

.header h1 {
	color: rgb(255, 255, 255);
	font-size: 50px;
	
}
.header p{
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: bolder;
	-webkit-text-stroke: 0.5px rgb(49, 49, 49);
	
	margin-bottom: 10px;
}

.main {
	text-align: center;
}

.main input, #BTN1,select {
	width: 300px;
	height: 40px;
	border:none;
	outline: none;
	padding-left: 40px;
	box-sizing: border-box;
	font-size: 15px;
	color: #333;
	margin-bottom: 40px;
}

.main #BTN1 {
	padding-left: 0;
	background-color: #8712b6;
	letter-spacing: 1px;
	color: white;
	font-weight: bold;
	margin-bottom: 70px;
}

.main #BTN1:hover {
	cursor: pointer;
	box-shadow: 2px 2px 5px #555;
	background-color: #570d74;
}
.main input:hover {
	box-shadow: 2px 2px 5px #555;
	background-color: #ddd;
}

.main span {
	position: relative;
}

.main i {
	position: absolute;
	left: 15px;
	color: #333;
	font-size: 16px;
	top: 2px;
}
.gamemodeclass{
	display: flex;
	flex-direction: row;
	align-content: center;

}
#btninfo{
	flex-wrap: wrap;
	width: 1.5px;
	align-self: center;
	height: 40px;
	margin-top: 1%;
	padding-left: 6.5%;
	border-radius: 50%;
	border:none;
	box-shadow: none;
	background:none;
	background-image:url('./info.png');
	background-repeat: no-repeat;
	overflow:hidden;
	cursor: pointer;
	

}
#gamemode{
	width: 300px;
	height: 40px;
	margin: 0 5px 0 39px;
	border:none;
	outline: none;
	padding-left: 40px;
	box-sizing: border-box;
	font-size: 15px;
	color: #333;
	margin-bottom: 40px;
}
























